<md-toolbar ng-show="loaded" class="md-site-toolbar-theme">
    <div class="md-toolbar-tools">
        <h2>Projects</h2>
        <md-button class="md-primary small" ng-click="addProject()"><md-icon md-font-set="material-icons">add_box</md-icon>&nbsp;Create project</md-button>
        <md-button class="md-primary small" ng-click="refreshProjects()"><md-icon md-font-set="material-icons">refresh</md-icon>&nbsp;Refresh</md-button>
    </div>
</md-toolbar>

<md-content ng-show="!loaded" class="doc-content">
    <md-progress-circular md-diameter="30px" md-mode="indeterminate"></md-progress-circular>
</md-content>

<div layout-gt-sm="row" ng-show="loaded" layout="column" class="doc-content">
    <div flex-gt-sm="100">
        <md-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="project in projects" ng-click="showProject(project)">
                    <img ng-src="icons/project.svg" class="md-avatar" alt="logo" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ project.name }}</h3>
                        <p>
                            {{ project.description }}
                        </p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
